{% extends "CosmetologyApp/layout.html" %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'site.css' %}" />
{% endblock %}
{% block content %}
  {% block carousel %}
    <div class="carousel" id="id_carousel">

        <div class="carousel-item">
          <img class="d-block w-100 darken-image" src="https://static.vecteezy.com/system/resources/previews/002/123/392/non_2x/realistic-cosmetic-advertisement-editable-banner-vector.jpg" style="width:100%">
          <div class="carousel-item-text">

          </div>
        </div>
      <div class="carousel-item">
          <img class="d-block w-100 darken-image" src="https://static.vecteezy.com/system/resources/previews/002/123/427/non_2x/realistic-cosmetic-advertisement-editable-banner-vector.jpg" style="width:100%">
          <div class="carousel-item-text">

          </div>
        </div>
      <div class="carousel-item">
          <img class="d-block w-100 darken-image" src="https://static.vecteezy.com/system/resources/previews/002/123/381/non_2x/bottle-aloe-vera-cosmetic-mockup-on-green-background-with-your-brand-ready-for-print-ads-or-magazine-design-transparent-and-shine-realistic-3d-style-vector.jpg" style="width:100%">
          <div class="carousel-item-text">

          </div>
        </div>

    </div>
  {% endblock %}
  {% block under_carousel %}{% endblock %}
{% endblock %}
{% block scripts %}
  {{ block.super }}

  <script src="{% static '/js/site.js' %}"></script>
  <script>StartCarouselScrolling("id_carousel",
                                 {% block carousel_interval %}3000{% endblock %},
                                 {% block slideCondition %}() => document.hasFocus(){% endblock %})</script>
{% endblock %}