{% extends "CosmetologyApp/layout.html" %}

{% block title %}Company Info{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'site.css' %}" xmlns="http://www.w3.org/1999/html">
<style>
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }
        body {
            height: 100vh;
            width: 100vw;
            background-color: #2d3c5b;
        }
        #banner {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #banner::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 400px;
            width: 100%;
            background:linear-gradient(to top, #2d3c5b, transparent);
            z-index: 15;
        }
        #moon{
            width: 50%;
            top: inherit;
            left: 25%;
            bottom: 0;
            z-index: 5;
        }
        section img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
        #text {
            position: relative;
            color: #FFEA80;
            font-size: 8rem;
            z-index: 10;
            font-family: 'Montserrat', serif;
        }
        #text_block {
            text-align: center;
            padding: 100px;
        }
        #text_block p {
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 500;
            color: #070707;
        }
    </style>
<div style="height: 1000px;">
        <section id="banner">
      <img  src="https://static.vecteezy.com/system/resources/previews/020/823/583/non_2x/frame-of-hand-drawn-barber-and-salon-on-chalkboard-vector.jpg" id="night_sky"/>
      <h2 id="text">Shhh...<br>secrets</h2>
      <img  style="opacity: 0.6; width: 2000px" src="https://www.pngmart.com/files/22/Face-Powder-Transparent-Isolated-PNG.png" id="moon"/>
      <img style="opacity: 0.2; right: 30%" src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614639623_34-p-dim-na-prozrachnom-fone-dlya-fotoshopa-49.png" id="left_effect"/>
      <img  style="opacity: 0.2;" src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614639623_34-p-dim-na-prozrachnom-fone-dlya-fotoshopa-49.png" id="right_effect"/>
    </section>

</div>

<section style="width:1000px; margin:auto">
    <ul class="faq">
        <li>
            <details>
                <summary >What procedures are available in cosmetology to improve the skin?</summary>
                Cosmetology offers various procedures such as chemical peels, laser therapy, Botox injections, fillers,
                microdermabrasion, and more to improve skin texture and tone.
                <small><time datetime="2023-07-07">July 7,2023</time></small>
            </details>
        </li>
        <li>
            <details>
                <summary >What procedures can help with wrinkles?</summary>
                Procedures such as Botox injections, fillers, chemical peels, and laser therapy can help reduce wrinkles
                and give the skin a more youthful appearance.
                <small><time datetime="2023-08-07">August 7,2023</time></small>
            </details>
        </li>
        <li>
            <details>
                <summary >How should I prepare for cosmetology procedures?</summary>
                Consult with your cosmetologist about necessary preparation steps before a procedure, such as avoiding sun exposure or specific skincare products.
                <small><time datetime="2023-05-15">May 15,2023</time></small>
            </details>
        </li>
        <li>
            <details >
                <summary >How long is the recovery time after procedures?</summary>
                Recovery time varies depending on the type of procedure. For example, some chemical peels may require a
                few days of recovery, while Botox injections typically have no downtime.
                <small><time datetime="2022-11-03">November 3,2022</time></small>
            </details>
        </li>
        <li>
            <details >
                <summary >What skincare products should I use?</summary>
                Skincare recommendations can vary based on your skin type. Cosmetologists can provide individualized
                skincare advice.
                <small><time datetime="2023-02-17">February 17</time></small>
            </details>
        </li>
        <li>
            <details>
                <summary>How long do the effects of cosmetology procedures last?</summary>
                The duration of the effects of procedures can vary. For instance, Botox injections may last several
                months, while the results of chemical peels can be long-term.
                <small><time datetime="2023-04-07">April 7</time></small>
            </details>
        </li>
    </ul>

</section>
<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
{% endblock %}