{% extends "CosmetologyApp/layout.html" %}
{% block content %}

<section class="time">
    <article class="welcome">
        <h1>Welcome to "In Shine" salon</h1>
    </article>
    <article class="timing">
        <p  id="current-datetime"></p>
    </article>
</section>



<section >
    <h2 style=" text-align: center;">NEW</h2>
    <div class="lastUpdate" >
    <p>New service in our list!!!</p>
    <p class="clip">{{latest_add_serv}}</p>
    <a href="/CosmetologyApp/about_company/">Contact us to use this procedure!!!</a>
    </div>
</section>
<section>
    <h2 style=" text-align: center;">Our Partners</h2>
    <div class="partners">
        <div class="partners-item">
            <a href="https://cosmetologytelaviv.com/en/school?ysclid=lmd9zsizqc464382984">
            <img src="https://sun6-20.userapi.com/s/v1/ig2/wOs4gpvaY92GEMiijS2zLasYzwOlQbpXECZnuN6t0NWNzDnUjuDVWWBf7m69HYj41AlnjfqrwqDWMcXw2VQ1c86N.jpg?size=2048x2048&quality=95&crop=0,0,2048,2048&ava=1" alt="partner">
            <p>Tl Aviv Salon</p>
        </a>
        </div>

        <div class="partners-item">
            <a href="https://cosmetologytelaviv.com/en/school?ysclid=lmd9zsizqc464382984">
            <img style="width:200px; height:100px" src="https://sun6-20.userapi.com/s/v1/ig2/wOs4gpvaY92GEMiijS2zLasYzwOlQbpXECZnuN6t0NWNzDnUjuDVWWBf7m69HYj41AlnjfqrwqDWMcXw2VQ1c86N.jpg?size=2048x2048&quality=95&crop=0,0,2048,2048&ava=1" alt="partner">
            <p>Tl Aviv Salon</p>
        </a>
        </div>

        <div class="partners-item">
            <a href="https://cosmetologytelaviv.com/en/school?ysclid=lmd9zsizqc464382984">
            <img style="width:200px; height:100px" src="https://sun6-20.userapi.com/s/v1/ig2/wOs4gpvaY92GEMiijS2zLasYzwOlQbpXECZnuN6t0NWNzDnUjuDVWWBf7m69HYj41AlnjfqrwqDWMcXw2VQ1c86N.jpg?size=2048x2048&quality=95&crop=0,0,2048,2048&ava=1" alt="partner">
            <p>Tl Aviv Salon</p>
        </a>
        </div>

                <div class="partners-item">
            <a href="https://cosmetologytelaviv.com/en/school?ysclid=lmd9zsizqc464382984">
            <img style="width:180px; height:100px" src="https://sun6-20.userapi.com/s/v1/ig2/wOs4gpvaY92GEMiijS2zLasYzwOlQbpXECZnuN6t0NWNzDnUjuDVWWBf7m69HYj41AlnjfqrwqDWMcXw2VQ1c86N.jpg?size=2048x2048&quality=95&crop=0,0,2048,2048&ava=1" alt="partner">
            <p>Tl Aviv Salon</p>
        </a>
        </div>



    </div>
</section>

<section>
    <h2>Pretty Dog</h2>
    <img src="{{ image_url }}" alt="Such image doesn't exist :(" style="max-width: 500px;">
<p><em>Random activity: </em>{{ activity }}</p>
</section>
<section>
    <a href="https://www.youtube.com/watch?v=0QL4A24mlUw">
            <div  class="reklama" >

    </div>
    </a>
</section>



{% endblock %}